<div class="bg-neutral-900 h-dvh w-dvw">
  <header class=" flex justify-center z-1">
    <div class="flex justify-center pt-4 pb-4 pr-96 pl-96 bg-gray-800 gap-6
        rounded-b-full">
      <button mat-button class="!text-white hover:!bg-gray-400">
        Home
      </button>
      <button mat-button class="!text-white hover:!bg-gray-400">
        About
      </button>
      <button mat-button class="!text-white hover:!bg-gray-400">
        Skills
      </button>
      <button mat-button class="!text-white hover:!bg-gray-400">
        Projects
      </button>
      <button mat-button class="!text-white hover:!bg-gray-400">
        Contacts
      </button>
    </div>
  </header>
  <main class="z-1">
    <div class="!ml-40 !mt-56 w-[650px]">
      <mat-card class="example-card p-4"
                appearance="outlined">
        <mat-card-header>
          <mat-card-title class="!text-6xl pb-8">
            Kasun Ranasinghe
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="!pb-10">
          I'm a passionate full-stack developer with a knack for turning ideas into digital realities.
        </mat-card-content>
        <mat-card-footer class="example-card-footer p-3">
          <mat-chip-set aria-label="Chihuahua traits">
            <mat-chip class="!w-[400px] !h-[50px]">
              Download_CV
            </mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
  </main>
</div>
