<header class="!w-dvw flex justify-center bg-neutral-900">
  <div class="flex justify-center pt-4 pb-4 pr-96 pl-96 bg-gray-800 gap-6
        rounded-b-full">
    <button mat-button class="!text-white hover:!bg-gray-400">
      Home
    </button>
    <button mat-button class="!text-white hover:!bg-gray-400">
      About
    </button>
    <button mat-button class="!text-white hover:!bg-gray-400">
      Skills
    </button>
    <button mat-button class="!text-white hover:!bg-gray-400">
      Projects
    </button>
    <button mat-button class="!text-white hover:!bg-gray-400">
      Contacts
    </button>
  </div>
</header>
<main class="bg-neutral-900 h-dvh w-dvw">

</main>
